<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial_scale=1.0">
        <meta charset="utf-8">

        <link rel="stylesheet" href="../../css/styles.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
        <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    </head>
    <body>
        <div class="grid-container">
            <!-- Header -->
            <header class="header">
                <div class="header-menu-item">
                    <a href='/<%= trip_code %>/overview/'><span class="material-symbols-outlined">overview</span> Overview</a>
                </div>
                <div class="header-menu-item" onclick="window.location.href='/<%= trip_code %>/list-page/restaurant/'">
                    <span class="material-symbols-outlined">restaurant</span> Restaurant
                </div>
                <div class="header-menu-item" onclick="window.location.href='/<%= trip_code %>/list-page/museum/'">
                    <span class="material-symbols-outlined">church</span> Museum
                </div>
                <div class="header-menu-item" onclick="window.location.href='/<%= trip_code %>/list-page/activity/'">
                    <span class="material-symbols-outlined">pool</span> Activity
                </div>
                <div class="header-menu-item" onclick="window.location.href='/<%= trip_code %>/list-page/hotel/'">
                    <span class="material-symbols-outlined">bed</span> Hotel
                </div>
            </header>

            
            <!-- Sidebar -->
            <aside id="sidebar">
                <div class="sidebar-title">
                    <div class="sidebar-brand">
                        <span class="material-symbols-outlined">inventory</span> Ningbbang
                        <span class="material-symbols-outlined" onclick="closeSidebar()">close</span>
                    </div>
                </div>

                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <a href="/2501_turkey/overview/"><img alt="Türkiye" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/TR.svg" width="20px" height="15px"> Türkiye (Jan, 2025)</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/2509_korea/overview/"><img alt="Korea" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/KR.svg" width="20px" height="15px"> Korea (Sep, 2025)</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/2512_spain/overview/"><img alt="España" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/ES.svg" width="20px" height="15px"> España (Sep, 2025)</a>
                    </li>
                    <li class="sidebar-list-item">
                        <a href="/2503_baekje/overview/"><img src="/korea-logo.png" width="20px" height="20px"> 백제 (Mar, 2025)</a>
                    </li>
                </ul>
            </aside>

            <div class="main-container">
                <p id="identifier" style="border-bottom: 2px; border-top: 2px; margin: 0;"></p>
                <div id="main-map">
                    
                </div>

                <div id="main-planner">
                    <div class="planner-control">
                        <span>Plan</span>
                        <button id="add-button" onclick="addPlan()"><span class="material-symbols-outlined">
                            add
                            </span></button>
                        <button id="save-button" onclick="savePlan()"><span class="material-symbols-outlined">save</span></button>
                    </div>
                    <div id="planned-items">
                    </div>

                    <span>Unplanned Items</span>
                    <div id="unplanned-items">
                    </div>
                </div>
            </div>

            <script>
                var map = L.map('main-map', {
                        fullscreenControl: true,
                        fullscreenControlOptions: {
                            position: 'topleft'
                        }
                    })
                    .setView([41.0, 28.9], 11);
                var markers = [];
                async function myMap() {
                    const trip_center_response = await fetch('/api/<%= trip_code %>/trip_center');
                    const trip_center = await trip_center_response.json();
                    const lat = trip_center.data[0].lat;
                    const lng = trip_center.data[0].lng;
                    const zoom = trip_center.data[0].zoom;

                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '© OpenStreetMap contributors'
                    }).addTo(map);
                    L.Control.geocoder().addTo(map);
                    map.setView([lat, lng], zoom);
                }
                myMap();

                async function loadItems(){
                    const colors = ['#ff83b0', '#dd97e8', '#f57a73', '#fec15e', '#ffff00', '#ccff00', '#7c9d45', '#4ebcff', '#002790', '#001d4f', '#473083', '#6a3896'];
                    const plan_response = await fetch('/<%= trip_code %>/plan');

                    // Check if the response is OK
                    if (!plan_response.ok) {
                        throw new Error(`HTTP error! Status: ${plan_response.status}`);
                    }

                    const plan_json = await plan_response.json();
                    const plan_items = plan_json.results; // Use optional chaining to handle undefined `data`
                    
                    if (!Array.isArray(plan_items)) {
                        console.warn('plan_items is not an array or undefined:', plan_items);
                        return; // Exit if plan_items is not valid
                    }

                    // Extract unique plan names
                    let plan_names = [...new Set(plan_items.map(x => x['plan_name']))];
                    plan_names.sort();
                
                    var idx = 0;

                    plan_names.forEach((item) => {
                        const planned = document.getElementById("planned-items");
                        const itemDiv = document.createElement("div");
                        itemDiv.className = "plan-box"
                        itemDiv.innerHTML = `<div class="plan-box-title"><span style="cursor:pointer;" onclick="hideItem(this)">
                            <span class="material-symbols-outlined">keyboard_arrow_down</span></span>
                            <span class="plan-done">${item}</span><span></span></div><div class="plan-item-list"></div>`
                        planned.appendChild(itemDiv);

                        function handleDrop(e, targetContainer) {
                            e.preventDefault();
                            const draggingElement = document.querySelector(".dragging");
                            if (draggingElement) {
                                targetContainer.appendChild(draggingElement);
                            }
                        }

                        itemDiv.addEventListener("dragover", (e) => e.preventDefault());
                        itemDiv.addEventListener("drop", (e) => handleDrop(e, itemDiv.querySelector(".plan-item-list")));
                    })

                    const unplanned = document.getElementById("unplanned-items")
                    const response = await fetch('/api/<%= trip_code %>/overview')
                    const json = await response.json();
                    const items = json.data;

                    items.forEach((item) => {
                        const itemDiv = document.createElement("div");
                        itemDiv.className = "plan-items";
                        itemDiv.draggable = true;
                        itemDiv.textContent = item.title;
                        itemDiv.id = item.id;

                        itemDiv.addEventListener("dragstart", function (e) {
                            e.dataTransfer.setData("text/plain", e.target.id);
                            e.target.classList.add("dragging");
                        });

                        itemDiv.addEventListener("dragend", function (e) {
                            e.target.classList.remove("dragging");
                        });

                        unplanned.appendChild(itemDiv);
                    });
                    
                    plan_items.forEach((item) => {
                        const planItem = document.getElementById(item["plan_item"])
                        const planItemList = document.getElementsByClassName("plan-box")
                        for (list of planItemList) {
                            if (list.querySelector("div > span:nth-child(2)").textContent === item["plan_name"]) {
                                list.appendChild(planItem)
                            }
                        }
                    })

                    for (item of items) {
                        var category = '';
                        var plan_name = '';
                        var color = '';

                        if (item.category === "restaurant") {
                            // category = "fa-solid fa-utensils";
                            category = "restaurant";
                        } else if (item.category === "museum") {
                            // category = "fa-solid fa-building-columns"
                            category = "church"
                        } else if (item.category === "activity") {
                            // category = "fa-solid fa-person-swimming"
                            category = "pool"
                        } else if (item.category === "hotel") {
                            // category = "fa-solid fa-bed"
                            category = "bed"
                        };
                        
                        for (plan of plan_items) {
                            if (parseInt(plan["plan_item"]) === item.id) {
                                plan_name = plan["plan_name"];
                                color = colors[(plan_names.indexOf(plan_name))]
                                break
                            }
                        };
                        
                        icon = L.divIcon({
                            className: 'custom-div-icon',
                                html: `<span style='background-color:${color}; border-radius: 50%; border:1px solid #000' class="material-symbols-outlined">${category}</span>`,
                                iconSize: [25, 30],
                                iconAnchor: [12, 30]
                            });

                        marker = L.marker([item.lat, item.lng], {icon : icon}).bindPopup(`<a href=${item.url}>${item.title}</a> / ${plan_name}`).addTo(map);
                        markers.push(marker)
                    }
                }
                loadItems();

                function identifier() {
                    const trip_code = '<%= trip_code %>';
                    document.getElementById("identifier").innerHTML = `<b>Trip Code</b> : ${trip_code}`;
                }
                identifier();

                function setupDragAndDrop() {
                    const unplanned = document.getElementById("unplanned-items");
                    const planned = document.getElementById("planned-items");

                    // Function to handle drop events
                    function handleDrop(e, targetContainer) {
                        e.preventDefault();
                        const draggingElement = document.querySelector(".dragging");
                        if (draggingElement) {
                            targetContainer.appendChild(draggingElement);
                        }
                    }

                    // Add dragover and drop listeners for unplanned items container
                    unplanned.addEventListener("dragover", (e) => e.preventDefault());
                    unplanned.addEventListener("drop", (e) => handleDrop(e, unplanned));
                }
                setupDragAndDrop()
                
                function addPlan() {
                    const planned = document.getElementById("planned-items");
                    const itemDiv = document.createElement("div");
                    itemDiv.className = "plan-box"
                    itemDiv.innerHTML = `<div class="plan-box-title"><span style="cursor:pointer;" onclick="hideItem(this)"><span class="material-symbols-outlined">keyboard_arrow_down</span></span><span class="plan">Type Plan Title Name</span>
                        <button class="plan-name-edit" onclick="editName(this)"><span class="material-symbols-outlined">edit</span></button>
                        <button class="plan-name-edit-close" onclick="saveName(this)" style="display:none;"><span class="material-symbols-outlined">save</span></button></div><div class="plan-item-list"></div>`
                    planned.appendChild(itemDiv);

                    function handleDrop(e, targetContainer) {
                        e.preventDefault();
                        const draggingElement = document.querySelector(".dragging");
                        if (draggingElement) {
                            targetContainer.appendChild(draggingElement);
                        }
                    }

                    itemDiv.addEventListener("dragover", (e) => e.preventDefault());
                    itemDiv.addEventListener("drop", (e) => handleDrop(e, itemDiv.querySelector(".plan-item-list")));
                }

                function editName(target){
                    const title = target.parentElement.querySelector(".plan");
                    const title_text = title.textContent;
                    title.innerHTML = `<input type="text" value="${title_text}" class="plan-name-input">`
                    title.parentElement.querySelector(".plan-name-edit").classList.add("hide");
                    title.parentElement.querySelector(".plan-name-edit-close").style.display = ""
                }

                function saveName(target){
                    const title = target.parentElement.parentElement.querySelector(".plan");
                    const input_text = target.parentElement.parentElement.querySelector('.plan-name-input').value;
                    title.innerHTML = `${input_text}`
                    title.parentElement.querySelector(".plan-name-edit").style.display = ""
                    title.parentElement.querySelector(".plan-name-edit-close").classList.add("hide");
                    title.className = "plan-done"
                }

                function hideItem(target){
                    const list = target.parentElement.parentElement.querySelector(".plan-item-list")
                    list.classList.toggle('hide')
                    if (list.classList.contains('hide')){
                        target.innerHTML = `<span class="material-symbols-outlined">chevron_right</span>`
                    } else {
                        target.innerHTML = `<span class="material-symbols-outlined">keyboard_arrow_down</span>`
                    }                   
                }

                function savePlan(target){
                    const trip_code = '<%= trip_code %>'
                    var itemData = []

                    const planItemList = document.getElementsByClassName("plan-box")
                    for (list of planItemList) {
                        const planName = list.querySelector("div > span:nth-child(2)")
                        const items = list.getElementsByClassName("plan-items")
                        if (items) {
                            for (item of items) {
                                itemData.push({'plan_name':planName.textContent, 'plan_item':item.id, 'trip_code': trip_code})
                            }
                        }
                    }

                    if (itemData.length === 0) {
                        alert("No items to save!");
                        return;
                    }
                    
                    fetch('/<%= trip_code %>/plan', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(itemData)
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log("Plan added:", data);
                    })
                    alert('Plan saved!')
                };
            </script>

    </body>
<html>